-var title = "Título Principal"
-var titles = ["Website"]
-var linksUrl = ["/", "/dist/"]
-var linksInternos = ["index.html"]
-var linksExternos = ["https://instagram.com/"]
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"iso.png", logoImg+"imagotipo"]